:root{
    --primary-color: #3347B0;
    --secondary-color: #BCC2E5;
    --auxiliar-yellow: #E5B657;
    --auxiliar-red: #C11010;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    height: 100%;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    height: 100px;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.site-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}
.site-logo-container span{
    font-size: 1.2rem;
    font-weight: 600;
    width: 75px;
}
.exit-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: #fff;
}
.exit-container i{
    font-size: 2.3rem;
}
.exit-container span{
    font-size: 2rem;
    font-weight: 600;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    height: 140px;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
.contact-container span{
    font-size: 1rem;
    font-weight: 400;
}
.contact-container i{
    text-align: center;
    font-size: 1.3rem;
    width: 25px;
}
.copyright-container{
    font-size: 1.3rem;
    font-weight: 300;
}
.social-media-container ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.social-media-container a{
    color: #fff;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.3s;
}
.social-media-container i{
    font-size: 1.2rem;
}