main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.student, .subjects{
    box-shadow: 0px 0px 10px 5px #0004;
    font-family: 'Poppins', sans-serif;
}
.student{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 500;
    gap: 4px;
}
.student img{
    height: 55vh;
}
.subjects{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}
.subject-info{
    gap: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subject-name, .aproved .nota{
    color: var(--primary-color);
}
.reproved .nota{
    color: var(--auxiliar-red);
}
.exam .nota{
    color: var(--auxiliar-yellow);
}
.subjects progress{
    display: inline-block;
    border-radius: 15px;
    transform: rotate(-90deg);
    height: 16px;
}
.subjects progress::-webkit-progress-bar{
    background-color: #EEEFF8;
}
.aproved progress::-webkit-progress-value{
	background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--primary-color);
}
.reproved progress::-webkit-progress-value{
    background-color: var(--auxiliar-red);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--auxiliar-red);
}
.exam progress::-webkit-progress-value{
    background-color: var(--auxiliar-yellow);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--auxiliar-yellow);
}