main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.student, .subjects{
    box-shadow: 0px 0px 10px 5px #0004;
    font-family: 'Poppins', sans-serif;
}
.student{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 500;
    gap: 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-wrap: initial;
}
.student img{
    height: 40vh;
}
.subjects{
    padding: 1%;
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: fit-content;
    flex-wrap: wrap;
}
.subject-info{
    gap: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 9%;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subject-name, .aproved .nota{
    color: var(--primary-color);
}
.reproved .nota{
    color: var(--auxiliar-red);
}
.exam .nota{
    color: var(--auxiliar-yellow);
}
.subjects progress{
    display: block;
    border-radius: 15px;
    transform: rotate(-90deg);
    height: 16px;
    width: 10vw;
}
.subjects progress::-webkit-progress-bar{
    background-color: #EEEFF8;
}
.aproved progress::-webkit-progress-value{
	background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--primary-color);
}
.reproved progress::-webkit-progress-value{
    background-color: var(--auxiliar-red);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--auxiliar-red);
}
.exam progress::-webkit-progress-value{
    background-color: var(--auxiliar-yellow);
    border-radius: 4px;
    box-shadow: 0px 0px 24px var(--auxiliar-yellow);
}
@media (max-width:768px){
    main{
        flex-direction: column;
        gap: 20px;
    }
    .subjects{
        gap: 4vw;
        width: 90vw;
    }
    .subject-info{
        width: 15%;
    }
    .subjects progress {
        width: 30vw;
    }
}