main{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
.content-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
    font-size: 3.3rem;
    font-weight: 300;
    width: min-content;
}
.content-container p{
    text-align: start;
    width: 90%;
}
.content-container span{
    font-weight: 700;
    color: var(--primary-color);
}
.content-container img{
    height: 25%;
}
.student-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.student-container img{
    height: 50%;
}
.courses-container{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
}
.course-image{
    height: 10vh;
}
.courses-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem;
    padding: 1vh 1vw;
    gap: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: all .2s;
}
.courses-button:hover{
    box-shadow: 11px 11px 8px 4px #3347B060;
}

@media (max-width:768px){
    main{
        flex-direction: column;
    }
    .student-container{
        display: none;
    }
    .content-container{
        font-size: 2rem;
        width: 100%;
    }
    .content-container p{
        text-align: center;
    }
}