.options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    padding: 0 96px;
}
.filters-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: var(--primary-color);
    gap: 10px;
}
.filters-container select{
    font-size: 1rem;
    background-color: #0000;
    color: var(--primary-color);
    border: #0000;
}
.sub-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
    gap: 24px;
}
.sub-title div{
    gap: 8px;
}
.sub-title i{
    box-shadow: 0px 0px 10px -1px #0006;
}
.finalizado i{
    color: var(--auxiliar-yellow);
}
a.hide {
    display: none;
}
select{
    width: 8vw;
}